@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #a22424;
    background-attachment: fixed;
}

.center {
    position: relative;
    background-size: 100% 100%;
    height: 96vh;
}

main {
    position: absolute;
    background-color: white;
    display: inline-block;
    border-radius: 20px;
    background-size: 100% 100%;
    height: 520px;
    width: 307px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

main img.celular {
    max-width: 307px;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    top: -1px;
}

img.tablet {
    display: none;
}

main h1 {
    text-align: center;
    padding: 10px;
}

main p {
    text-align: center;
    padding: 10px;
}


form {
    text-align: center;
}

input {
    border: solid black 1px;
    padding: 5px;
}
    

input#isenha {
    position: relative;
    left: -14px;
}

.email {
    position: relative;
    top: -10px;
}

span#icon-email {
    position: relative;
    right: 130px;
    top: 19px;
}

span#icon-senha {
    position: relative;
    right: 15px;
    top: 5px;
}

span#caixa-email {
    position: relative;
    top: 5px;
    left: 50px;
}

button.entrar {
    background-color: red;
    color: white;
    padding: 10px 99px 10px 97px;
    margin: 20px 0px 20px 0px;
    border: solid black 1px;
    border-radius: 10px;
}

button.entrar:hover {
    background-color: #a22424;
}

button.esquecisenha {
    color: red;
    padding: 5px 57px 5px 57px;
    margin: 0px 0px 20px 0px;
    border: solid red 1px;
    border-radius: 10px;
}

button.esquecisenha p {
    display: inline-block;
    padding: 1px;
    position: relative;
    top: -5px;
}

button.esquecisenha:hover {
    background-color: #ffb6b6;
}