@charset "UTF-8";


main {
    flex-direction: row-reverse;
    width: 700px;
    height: 450px;
}

h1 {
    position: relative;
    left: -150px;
}

p {
    position: relative;
    top: -20px;
}

form {
    position: relative;
    top: 100px;
    left: 50px;
}

img.telagrande {
    display: block;
    position: relative;
    width: 300px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    left: 1px;
}

img.celular {
    display: none;
}

img.tablet {
    display: none;
}

input#isenha {
    margin-top: 30px;
    left: -14px;
}

span#icon-senha {
    position: relative;
    right: 15px;
    top: -10px;
}