section {
  padding: 120px 80px;
}

.header {
  padding: 25px 80px;
}

.hero {
  padding: 60px 80px;
}

.hero-content .hero-title {
  max-width: 900px;
}

.hero-content .hero-description {
  max-width: 800px;
}

.hero-cta {
  padding: 20px 34px;
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.contact-info-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.about {
  flex-direction: row;
  align-items: center;
  gap: 80px;
}

.about-image,
.about-content {
  flex: 1;
}

.product-card-image img {
  height: 280px;
}

.testimonial-card {
  padding: 30px;
}

.product-card:hover {
  box-shadow: var(--menu-card-hover);
}


.icon-theme {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
}

.icon-theme:hover {
  background-color: var(--footer-borda);
  border-radius: 50%;
}