h1 {
  font-size: 48px;
  line-height: 58px;
}

h2 {
  font-size: 36px;
  line-height: 44px;
}

h3 {
  font-size: 26px;
  line-height: 34px;
}

p {
  font-size: 17px;
  line-height: 30px;
}

a,
button {
  font-size: 16px;
}

i {
  font-size: 22px;
}

section {
  padding: 100px 40px;
}

.header {
  padding: 25px 40px;
}

.hero {
  padding: 40px;
  gap: 30px;
}

.hero-content .hero-title {
  font-size: 58px;
  line-height: 66px;
  max-width: 700px;
  margin: auto;
}

.hero-content .hero-description {
  font-size: 18px;
  line-height: 32px;
  max-width: 650px;
  margin: 30px auto 0 auto;
}

.hero-cta {
  padding: 18px 28px;
  font-size: 17px;
}

.about {
  gap: 70px;
}

.product-card-image img {
  height: 260px;
}

/* top section */

.fa-bars {
  display: none;
}

/* header */

.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .header-logo p {
  font-size: 17px;
  font-weight: 700;
}

.icon-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--footer-borda);
  cursor: pointer;
}

.icon-theme i {
  transition: all .5s;
}

.icon-theme i:hover {
  font-size: 30px;
}

.icon-menu {
  display: none;
}

/* nav */

.nav {
  background: transparent;
  display: block;
}

.nav-list {
  flex-direction: row;
  gap: 20px;
}

.nav-list .nav-link:hover {
  color: var(--inicio-destaque);
}

.btn-whatsApp {
  display: none;
}

.menu-list, .features-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-info-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.group-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.group-footer p {
  font-size: 15px;
}

.icon-pastel {
  display: none;
}

.footer-social {
  margin: auto;
}

.contact-card p {
  font-size: 15px;
}