@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'anime';
    src: url('/p001/fontes/animefont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0: #0237E6;
    --cor1: #2145BB;
    --cor2: #324891;
    --cor3: #344066;
    --cor4: #282D3C;
    --cor5: #2B2D33;

    --font-header: 'anime';
}

body, html {
    width: 100%;
    height: 100%;
}


body {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-template-rows: auto 1fr auto;
    background-color: var(--cor5);
    gap: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: 1 / 1 / 2 / -1;
    background-color: var(--cor0);
    padding: 10px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;

}

header h1 {
    font-family: var(--font-header);
}

a {
    color: white;
    list-style: none;
    text-decoration: none;
}

p {
    line-height: 1.4em;
}

header a {
    color: white;
    list-style: none;
    text-decoration: none;
    margin-right: 20px;
    transition: color .5s;
}

header a:visited {
    color: white;
}

header a:hover {
    color: var(--cor5);
}

/* COMECO DA PAG INDEX */

main {
    grid-column: 2;
    align-items: center;
    padding: 10px;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.4em;
    background-color: white;
    margin: auto;
    border-radius: 10px;
}

main h2 {
    text-align: center;
    margin-bottom: 10px;
}

/* COMEÇO DA PAG NOTICIAS */

section.noticias {
    grid-column: 2;
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    color: white;
}

div.noticia {
    background-color: var(--cor4); 
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

img {
    width: 200px;
    display: block;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* COMECO DA PAG RECOMENDAÇÕES */

section.recomendacoes a {
    padding: 5px;
    margin-top: 20px;
    color: white;
    list-style: none;
    text-decoration: none;
    transition: background .5s;
}

section.recomendacoes a:visited {
    color: white;
}

section.recomendacoes a:hover {
    color: white;
    background-color: var(--cor2);
    padding: 7px;
    border-radius: 5px;
}

div.genero {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 10px;
    line-height: 2em;
    border-radius: 10px;
    margin-top: 10px;
}

/* COMECO DA PAG NOTICIA DE CADA ANIME */

aside {
    grid-column: 2;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

div.vejamais {
    background-color: var(--cor5);
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
}

div.vejamais a {
    color: white;
    text-decoration: none;
    line-height: 2em;
    padding: 5px;
    border-radius: 5px;
    transition: background .5s;
}

div.vejamais a:visited {
    color: white;
}

div.vejamais a:hover {
    background-color: var(--cor2);
}

/* PAG RECOMENDAÇÕES POR GENERO */

section.genero-reco {
    display: flex;
    flex-direction: column;
    color: white;
}

div.anime {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--cor5);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

div.sinopse {
    align-content: center;
}


h2 {
    background-color: var(--cor3);
    padding: 10px;
    color: white;
    border-radius: 10px;
}

h3 {
    text-align: center;
    background-color: var(--cor2);
    padding: 10px;
    color: white;
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    
    div.anime {
        flex-direction: row;
    }

    main {
        max-width: 800px;
    }

    p {
        font-size: 1.2em;
    }

    section.noticias {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    div.noticia {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    section.conteiner {
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
}

footer {
    grid-column: 2;
    grid-area: 4 / 1 / -1 / -1;
    background-color: var(--cor0);
    color: white;
    padding: 10px;
    text-align: center;
}