@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 269px;
}

section#redes-sociais {
    text-align: end;
}

section#redes-sociais img {
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 4px #000000ad;
    transition: 0.5s;
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    padding: 3px;
    border: 3px solid #ffffff9c;
}