@charset "UTF-8";

@font-face {
    font-family: 'anime title';
    src: url('fontes/animefont.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Love+Ya+Like+A+Sister&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --cor0: #0032FA;
    --cor1: #2345CF;
    --cor2: #374DA5;
    --cor3: #3D497A;
    --cor4: #353B50;
    --cor5: #2B2C33;

    --fonte-header-title: "anime title", sans-serif;
    --font-p: "Google Sans Code", monospace;
    --font-title: "Bebas Neue", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

/* configuração da pag home */

body {
    background-color: var(--cor1);
}

header {
    background-image: linear-gradient(to top, var(--cor4), var(--cor3));
    text-align: center;
    padding: 10px;
    height: 200px;
    color: white;
}

header h1 {
    margin-top: 30px;
    font-family: var(--fonte-header-title);
    font-weight: normal;
    font-style: normal;
    font-size: 2.7em;
    text-shadow: 2px 3px 5px black;
}

header p {
    margin-top: 50px;
    font-family: var(--font-p);
}

nav {
    background-color: var(--cor4);
    padding: 10px 10px 10px 10px;
    color: white;
}

nav a {
    padding: 15px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: var(--cor0);
    transition-duration: 0.5s;
    padding: 10px;
    border-radius: 10px;
}

nav a:visited {
    color: white;
}

main {
    background-color: white;
    padding: 30px;
    min-width: 300px;
    max-width: 810px;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    font-family: var(--font-title);
    font-weight: bold;
    font-style: normal;
    margin-bottom: 15px;
    background-image: linear-gradient(to right, var(--cor3), transparent);
    color: white;
    padding: 3px;
    font-size: 2.2em;
    text-shadow: 2px 3px 5px black;
    padding: 5px;
}

main h2 {
    font-family: var(--font-title);
    font-weight: bold;
    font-style: normal;
    margin-bottom: 15px;
    background-image: linear-gradient(to right, var(--cor3), transparent);
    color: white;
    padding: 3px;
    font-size: 2em;
    text-shadow: 2px 3px 5px black;
    padding: 5px;
}

main h3 {
    font-family: var(--font-title);
    font-weight: bold;
    font-style: normal;
    background-image: linear-gradient(to right, var(--cor3), transparent);
    color: white;
    font-size: 1.3em;
    text-shadow: 2px 3px 5px black;
    margin: -20px -20px 10px -20px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}

main p {
    font-family: var(--font-p);
    text-indent: 30px;
    line-height: 1.7em;
    text-align: justify;
}

.destaque {
    background-color: var(--cor4);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

ul {
    list-style-type: none;
}

.destaque a {
    text-decoration: none;
    color: white;
}

.destaque li {
    padding: 5px;
}

.destaque li:hover {
    background-color: var(--cor0);
    border-radius: 10px;
    padding: 10px;
    transition-duration: 0.5s;
}


footer {
    background-image: linear-gradient(to top, var(--cor4), var(--cor3));
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}

footer a {
    text-decoration: none;
    color: white;
    margin-right: 1px;
    padding: 10px;
}

footer a:hover {
    color: var(--cor0);
    text-decoration: underline;
}

.aviso {
    color: gray;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

/* configuração da pag de recomendação de animes por genero */

.fundo {
    background-color: var(--cor5);
    margin: 0px -30px;
    padding-bottom: 1px;
    margin-top: -30px;
    margin-bottom: -30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.genero {
    background-image: none;
    text-align: center;
    padding: 30px 0px 10px;
}

.anime {
    margin-bottom: -22px;
    background-color: var(--cor2);
    background-image: none;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.s1 {
    display: flex;
    padding: 20px;
    background-color: var(--cor4);
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

img {
    max-height: 200px;
    max-width: 200px;
    margin-right: 20px;
}

/* aba recomendações */


.generofav {
    padding: 15px;
    min-width: 300px;
    max-width: 810px;
    margin: auto;
}

.generofav ul {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-right: -10px;
    margin-left: -10px;
}

.generofav h3 {
    background-color: var(--cor2);
    padding: 15px;
    margin: -20px -20px 10px -20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.generofav a {
    text-decoration: none;
    color: white;
}

.generofav a:visited {
    color: white;
}

.generofav li {
    padding: 10px;
    transition-duration: 0.5s;
}

.generofav li:hover {
    background-color: var(--cor0);
    padding: 15px;
}

/* aba noticias */


.notseletor {
    display: flex;
    padding: 20px;
    background-color: var(--cor4);
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    transition-duration: 0.5s;
}

.notseletor:hover {
    background-color: var(--cor0);
    padding: 10px;
}

.notseletor p {
    margin-top: 60px;
}

/* Ajuste para o H1 dentro da classe .fundo funcionar em qualquer página */
.fundo h1 {
    text-align: center;
    padding-top: 30px;
    background-image: none;
}
 

.fundo a {
    text-decoration: none;
    color: white;
}

.fundo a:visited {
    color: white;
}

/* aba veja mais em noticias */

.vejamais {
    min-width: 300px;
    max-width: 810px;
    margin: auto;
    margin-top: 20px;
}

.vejamais h1 {
    color: white;
}