@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100dvh;
}

main.conteiner {
    display: flex;
    width: 100%;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    background: black url(fut.jpg) center center no-repeat fixed;
    background-size: cover;
}

div.tela-login {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 10px;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    min-width: 300px;
    max-width: 1000px;
}

div.tela-login h1 {
    text-align: center;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    padding: 10px;
    border-radius: 10px;
    color: white;
}

form input#ilembra {
    margin-right: 5px;
}

form input::placeholder {
    color: white;
}

form div {
    display: flex;
    justify-content: space-between;
}

form p {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: white;
}