@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --fundo-principal: #1A1D21;
  --texto-principal: #E8E6E3;

  --preto: #000000;

  --circle-background: #1e3a34;
  --circle-background2: #2a3a44;

  --fundo-cartao: #23262B;

  --cor-primaria: #A8C9EC;
  --sombra: #a8c9ec50;

  --texto-subdued: #9A9895;

  --cor-destaque: #6BA88E;
  --branco: #ffffff;

  --cor-sucesso: #7BC096;
  --texto-sobre-sucesso: #E0F0E8;

  --cor-erro: #D98A80;
  --texto-sobre-erro: #FDF5F4;

  --cor-input: #3A3E44;

  --borda: #8080804c;
}

